.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.App-link {
  color: #09d3ac;
}

.App-content {
  padding-top: 24px;
  padding-left: 64px;
  padding-right: 64px;
}

@media only screen and (max-width: 1135px) {
  .App-content {
    padding-left: initial;
    padding-right: initial;
  }
}
