.App {
  background: #0e2431;
}

.App-content {
  padding-top: 24px;
  padding-left: 64px;
  padding-right: 64px;
}

@media only screen and (max-width: 850px) {
  .App-content {
    padding-left: 24px;
    padding-right: 24px;
  }
}
